In [ ]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import prettytable
prettytable.DEFAULT = prettytable.PLAIN_COLUMNS

# Exploring the input directory to find the database
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Load SQL magic extension
%load_ext sql

# Connect to the SQLite database
# Replace the path below with the actual path to your SQLite database file
%sql sqlite:///C:/Users/chojk/Desktop/myproject/KaggleTennisDataProject/database.sqlite

In [4]:
%%sql
-- All-time Top Players based on points
SELECT
    p.name_first || ' ' || p.name_last AS full_name, 
    MIN(r.rank) AS best_rank,
    MAX(r.points) AS max_points
FROM
    rankings r
JOIN
    players p
ON
    r.player = p.player_id
GROUP BY
    p.name_first, p.name_last
HAVING
    MAX(r.points) IS NOT NULL
ORDER BY
    max_points DESC,
    best_rank ASC
LIMIT 10;

 * sqlite:///C:/Users/chojk/Desktop/myproject/KaggleTennisDataProject/database.sqlite
Done.

[('Novak Djokovic', 1, 16950.0),
 ('Rafael Nadal', 1, 15390.0),
 ('Andy Murray', 1, 12685.0),
 ('Roger Federer', 1, 12315.0),
 ('Daniil Medvedev', 1, 10780.0),
 ('Carlos Alcaraz', 1, 9815.0),
 ('Dominic Thiem', 3, 9125.0),
 ('Jannik Sinner', 2, 8860.0),
 ('Stefanos Tsitsipas', 3, 8350.0),
 ('Alexander Zverev', 2, 8240.0)]

In [6]:
%%sql
-- Point-Based Yearly Player Ranking
WITH RankedPlayers AS (
    SELECT
        SUBSTR(CAST(r.ranking_date AS STRING), 1, 4) AS ranking_year,
        r.player,
        p.name_first || ' ' || p.name_last AS full_name,
        r.rank,
        MAX(r.points) AS points,  -- Use MAX to ensure no duplicates
        ROW_NUMBER() OVER (
            PARTITION BY SUBSTR(CAST(r.ranking_date AS STRING), 1, 4) 
            ORDER BY r.rank ASC
        ) AS player_rank
    FROM
        rankings r
    JOIN
        players p
    ON 
        r.player = p.player_id
    GROUP BY
        ranking_year, r.player, p.name_first, p.name_last, r.rank
)
SELECT DISTINCT
    ROW_NUMBER() OVER (
        PARTITION BY ranking_year ORDER BY points DESC
    ) AS rank_in_the_year,  
    ranking_year,
    player,
    full_name,
    points
FROM
    RankedPlayers
WHERE
    player_rank <= 3
ORDER BY
    ranking_year DESC,
    rank_in_the_year;

 * sqlite:///C:/Users/chojk/Desktop/myproject/KaggleTennisDataProject/database.sqlite
Done.

[(1, '2024', 104925, 'Novak Djokovic', 11245.0),
 (2, '2024', 207989, 'Carlos Alcaraz', 9255.0),
 (3, '2024', 206173, 'Jannik Sinner', 8860.0),
 (1, '2023', 104925, 'Novak Djokovic', 11795.0),
 (2, '2023', 207989, 'Carlos Alcaraz', 9815.0),
 (3, '2023', 104745, 'Rafael Nadal', 6020.0),
 (1, '2022', 104925, 'Novak Djokovic', 11540.0),
 (2, '2022', 106421, 'Daniil Medvedev', 8615.0),
 (3, '2022', 207989, 'Carlos Alcaraz', 6820.0),
 (1, '2021', 104925, 'Novak Djokovic', 12133.0),
 (2, '2021', 106421, 'Daniil Medvedev', 10780.0),
 (3, '2021', 104745, 'Rafael Nadal', 9850.0),
 (1, '2020', 104925, 'Novak Djokovic', 12030.0),
 (2, '2020', 104745, 'Rafael Nadal', 10235.0),
 (3, '2020', 104745, 'Rafael Nadal', 9850.0),
 (1, '2019', 104925, 'Novak Djokovic', 12715.0),
 (2, '2019', 104745, 'Rafael Nadal', 9985.0),
 (3, '2019', 104745, 'Rafael Nadal', 9225.0),
 (1, '2018', 104745, 'Rafael Nadal', 10645.0),
 (2, '2018', 103819, 'Roger Federer', 10105.0),
 (3, '2018', 104925, 'Novak Djokovic', 9045.0),
 (1, '2017', 104918, 'Andy Murray', 12560.0),
 (2, '2017', 104745, 'Rafael Nadal', 10645.0),
 (3, '2017', 103819, 'Roger Federer', 9605.0),
 (1, '2016', 104925, 'Novak Djokovic', 16950.0),
 (2, '2016', 104918, 'Andy Murray', 12685.0),
 (3, '2016', 103819, 'Roger Federer', 7525.0),
 (1, '2015', 104925, 'Novak Djokovic', 16785.0),
 (2, '2015', 103819, 'Roger Federer', 9875.0),
 (3, '2015', 104918, 'Andy Murray', 8945.0),
 (1, '2014', 104745, 'Rafael Nadal', 14580.0),
 (2, '2014', 104925, 'Novak Djokovic', 13130.0),
 (3, '2014', 103819, 'Roger Federer', 9775.0),
 (1, '2013', 104925, 'Novak Djokovic', 13280.0),
 (2, '2013', 104745, 'Rafael Nadal', 13030.0),
 (3, '2013', 103819, 'Roger Federer', 10265.0),
 (1, '2012', 104925, 'Novak Djokovic', 13630.0),
 (2, '2012', 103819, 'Roger Federer', 12315.0),
 (3, '2012', 103819, 'Roger Federer', 10265.0),
 (1, '2011', 104925, 'Novak Djokovic', 14720.0),
 (2, '2011', 104745, 'Rafael Nadal', 12870.0),
 (3, '2011', 103819, 'Roger Federer', 9245.0),
 (1, '2010', 104745, 'Rafael Nadal', 12450.0),
 (2, '2010', 103819, 'Roger Federer', 11350.0),
 (3, '2010', 103819, 'Roger Federer', 9145.0),
 (1, '2009', 104745, 'Rafael Nadal', 15390.0),
 (2, '2009', 103819, 'Roger Federer', 12040.0),
 (3, '2009', 103819, 'Roger Federer', 11070.0),
 (1, '2008', 103819, 'Roger Federer', 7180.0),
 (2, '2008', 104745, 'Rafael Nadal', 7100.0),
 (3, '2008', 103819, 'Roger Federer', 5930.0),
 (1, '2007', 103819, 'Roger Federer', 8370.0),
 (2, '2007', 104745, 'Rafael Nadal', 5735.0),
 (3, '2007', 103786, 'Nikolay Davydenko', 3040.0),
 (1, '2006', 103819, 'Roger Federer', 8370.0),
 (2, '2006', 104745, 'Rafael Nadal', 5125.0),
 (3, '2006', 103344, 'Ivan Ljubicic', 3315.0),
 (1, '2005', 103819, 'Roger Federer', 6980.0),
 (2, '2005', 103720, 'Lleyton Hewitt', 4305.0),
 (3, '2005', 104053, 'Andy Roddick', 3655.0),
 (1, '2004', 103819, 'Roger Federer', 6875.0),
 (2, '2004', 104053, 'Andy Roddick', 4535.0),
 (3, '2004', 103507, 'Juan Carlos Ferrero', 4460.0),
 (1, '2003', 103720, 'Lleyton Hewitt', 4630.0),
 (2, '2003', 103507, 'Juan Carlos Ferrero', 4570.0),
 (3, '2003', 101736, 'Andre Agassi', 4395.0),
 (1, '2002', 103720, 'Lleyton Hewitt', 5205.0),
 (2, '2002', 102856, 'Gustavo Kuerten', 3855.0),
 (3, '2002', 101736, 'Andre Agassi', 3395.0),
 (1, '2001', 102856, 'Gustavo Kuerten', 4750.0),
 (2, '2001', 103720, 'Lleyton Hewitt', 4365.0),
 (3, '2001', 103498, 'Marat Safin', 4270.0),
 (1, '2000', 101736, 'Andre Agassi', 5208.0),
 (2, '2000', 102856, 'Gustavo Kuerten', 4195.0),
 (3, '2000', 101948, 'Pete Sampras', 3739.0),
 (1, '1999', 101736, 'Andre Agassi', 5048.0),
 (2, '1999', 101948, 'Pete Sampras', 3942.0),
 (3, '1999', 102158, 'Patrick Rafter', 3673.0),
 (1, '1998', 101948, 'Pete Sampras', 4547.0),
 (2, '1998', 102701, 'Marcelo Rios', 3719.0),
 (3, '1998', 101434, 'Petr Korda', 3499.0),
 (1, '1997', 101948, 'Pete Sampras', 5792.0),
 (2, '1997', 101404, 'Thomas Muster', 4080.0),
 (3, '1997', 101964, 'Goran Ivanisevic', 3572.0),
 (1, '1996', 101948, 'Pete Sampras', 4914.0),
 (2, '1996', 101736, 'Andre Agassi', 4495.0),
 (3, '1996', 101404, 'Thomas Muster', 4474.0),
 (1, '1995', 101736, 'Andre Agassi', 5652.0),
 (2, '1995', 101948, 'Pete Sampras', 5438.0),
 (3, '1995', 101736, 'Andre Agassi', 4867.0),
 (1, '1994', 101948, 'Pete Sampras', 5405.0),
 (2, '1994', 101529, 'Michael Stich', 3445.0),
 (3, '1994', 101736, 'Andre Agassi', 3249.0),
 (1, '1993', 101948, 'Pete Sampras', 4197.0),
 (2, '1993', 101793, 'Jim Courier', 3973.0),
 (3, '1993', 101222, 'Stefan Edberg', 3244.0),
 (1, '1992', 101793, 'Jim Courier', 3898.0),
 (2, '1992', 101222, 'Stefan Edberg', 3698.0),
 (3, '1992', 101222, 'Stefan Edberg', 3671.0),
 (1, '1991', 101222, 'Stefan Edberg', 3997.0),
 (2, '1991', 101414, 'Boris Becker', 3935.0),
 (3, '1991', 101222, 'Stefan Edberg', 3802.0),
 (1, '1990', 101222, 'Stefan Edberg', 3889.0),
 (2, '1990', 100656, 'Ivan Lendl', 3420.0),
 (3, '1990', 100656, 'Ivan Lendl', 2995.0),
 (1, '1989', 100656, 'Ivan Lendl', None),
 (2, '1989', 101062, 'Mats Wilander', None),
 (3, '1989', 100656, 'Ivan Lendl', None),
 (1, '1988', 100656, 'Ivan Lendl', None),
 (2, '1988', 101062, 'Mats Wilander', None),
 (3, '1988', 100656, 'Ivan Lendl', None),
 (1, '1987', 100656, 'Ivan Lendl', None),
 (2, '1987', 101062, 'Mats Wilander', None),
 (3, '1987', 101222, 'Stefan Edberg', None),
 (1, '1986', 100656, 'Ivan Lendl', None),
 (2, '1986', 100581, 'John McEnroe', None),
 (3, '1986', 101062, 'Mats Wilander', None),
 (1, '1985', 100581, 'John McEnroe', None),
 (2, '1985', 100656, 'Ivan Lendl', None),
 (3, '1985', 100284, 'Jimmy Connors', None),
 (1, '1984', 100581, 'John McEnroe', None),
 (2, '1984', 100656, 'Ivan Lendl', None),
 (3, '1984', 100284, 'Jimmy Connors', None),
 (1, '1983', 100284, 'Jimmy Connors', None),
 (2, '1983', 100581, 'John McEnroe', None),
 (3, '1983', 100656, 'Ivan Lendl', None),
 (1, '1982', 100284, 'Jimmy Connors', None),
 (2, '1982', 100581, 'John McEnroe', None),
 (3, '1982', 100282, 'Guillermo Vilas', None),
 (1, '1981', 100437, 'Bjorn Borg', None),
 (2, '1981', 100581, 'John McEnroe', None),
 (3, '1981', 100284, 'Jimmy Connors', None),
 (1, '1980', 100437, 'Bjorn Borg', None),
 (2, '1980', 100581, 'John McEnroe', None),
 (3, '1980', 100284, 'Jimmy Connors', None),
 (1, '1979', 100284, 'Jimmy Connors', None),
 (2, '1979', 100437, 'Bjorn Borg', None),
 (3, '1979', 100284, 'Jimmy Connors', None),
 (1, '1978', 100284, 'Jimmy Connors', None),
 (2, '1978', 100282, 'Guillermo Vilas', None),
 (3, '1978', 100437, 'Bjorn Borg', None),
 (1, '1977', 100284, 'Jimmy Connors', None),
 (2, '1977', 100437, 'Bjorn Borg', None),
 (3, '1977', 100282, 'Guillermo Vilas', None),
 (1, '1976', 100284, 'Jimmy Connors', None),
 (2, '1976', 100074, 'Arthur Ashe', None),
 (3, '1976', 100437, 'Bjorn Borg', None),
 (1, '1975', 100284, 'Jimmy Connors', None),
 (2, '1975', 100016, 'Ken Rosewall', None),
 (3, '1975', 100087, 'John Newcombe', None),
 (1, '1974', 100087, 'John Newcombe', None),
 (2, '1974', 100119, 'Ilie Nastase', None),
 (3, '1974', 100284, 'Jimmy Connors', None),
 (1, '1973', 100119, 'Ilie Nastase', None),
 (2, '1973', 100087, 'John Newcombe', None),
 (3, '1973', 100174, 'Manuel Orantes', None)]

In [5]:
%%sql
-- Calculate all-time winning percentage for Right-Handed vs Left-Handed players
SELECT
    'Winning Statistics' AS metric,
    SUM(CASE WHEN winner_hand = 'L' AND loser_hand = 'R' THEN 1 ELSE 0 END) AS "Left-Handed Wins",
    ROUND(100.0 * SUM(CASE WHEN winner_hand = 'L' AND loser_hand = 'R' THEN 1 ELSE 0 END) /
          SUM(CASE WHEN (winner_hand = 'L' AND loser_hand = 'R') OR (winner_hand = 'R' AND loser_hand = 'L') THEN 1 ELSE 0 END), 2) AS "Left-Handed Winning %",
    SUM(CASE WHEN winner_hand = 'R' AND loser_hand = 'L' THEN 1 ELSE 0 END) AS "Right-Handed Wins",
    ROUND(100.0 * SUM(CASE WHEN winner_hand = 'R' AND loser_hand = 'L' THEN 1 ELSE 0 END) /
          SUM(CASE WHEN (winner_hand = 'L' AND loser_hand = 'R') OR (winner_hand = 'R' AND loser_hand = 'L') THEN 1 ELSE 0 END), 2) AS "Right-Handed Winning %"
FROM
    matches
WHERE
    (winner_hand = 'L' AND loser_hand = 'R') OR (winner_hand = 'R' AND loser_hand = 'L');

 * sqlite:///C:/Users/chojk/Desktop/myproject/KaggleTennisDataProject/database.sqlite
Done.

[('Winning Statistics', 73897, 51.51, 69571, 48.49)]